services:
  mssql:
    image: mcr.microsoft.com/mssql/server:latest
    container_name: mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "L0ngP@ssword1337!h#ejerAADkjlH#LK"  
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

volumes:
  mssql-data:
